body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #00009C;
    font-family: Arial, sans-serif;
    
}

.conteudo {
    margin-top: 20px;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.imagem-container img {
    width: 500px;  /* Largura fixa para todas as imagens */
    height: 500px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Garante que a imagem preencha o espaço */
    margin-bottom: 20px; /* Espaço entre a imagem e o texto abaixo */
}

.contador-container {
    color: aliceblue;
}

h1 {
    color: aliceblue;
    font-size: 2em;
    margin-bottom: 0.5em;
}

#contador {
    color: aliceblue;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.coracao {
    font-size: 3em;
}



@media (max-width: 780px) {
    .imagem-container img {
        width: 300px;  /* Mais ajustes para telas muito pequenas */
        height: 300px;
    }

    h1 {
        font-size: 1.5em; /* Ajusta o tamanho do texto */
    }

    #contador {
        font-size: 1.2em; /* Ajusta o tamanho do temporizador */
    }

    .coracao {
        font-size: 2em; /* Ajusta o tamanho do coração */
    }
}

.chuva-de-coracoes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Permite clicar através dos corações */
    overflow: hidden;
}

.coracao-caindo {
    position: absolute;
    top: -10%;
    font-size: 24px;
    color: red;
    animation: cair 5s linear infinite;
    opacity: 0.8;
}

@keyframes cair {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}
